{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row top-menu">
  <div class="col-md-10"></div>
  <div class="col-md-2 text-right">
  </div>
</div>

<div class="row main">
  <div class="col-md-1"></div>
  <div class="col-md-11 padding-none">
    <h1>Projects</h1>
  </div>
</div>

<div class = 'flash'>
  {% with messages = get_flashed_messages() %}
  {% if messages %}

  <ul>
    {% for message in messages %}
    <li> <strong> {{ message }} </strong> </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

</div>

<div class="row padding-top padding-bottom">
  <div class="col-md-1"></div>
  <div class="col-md-10 padding-none">
    <a href="{{url_for('newProject')}}">
      <button class="btn btn-default" id="new-project">
        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>Add Project
      </button>
    </a>
  </div>
  <div class="col-md-1"></div>
</div>

{% for project in projects %}
<a href = "{{url_for('showLedger', project_id = project.id)}}">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 project-list">
      <h3>{{project.name}}</h3>
    </div>
    <div class="col-md-1"></div>
  </div>
</a>
{% endfor %}

{% endblock %}
