{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row divider green">
  <div class="col-md-12"></div>
</div>
<div class="row banner menu">
  <div class="col-md-11 col-md-offset-1 padding-none">
    <h1>New Ledger Item</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-1 padding-top">
    <form action="#" method = "post">
      <div class="form-group">

        <label for="date">Date:</label>
        <input type ="date" class="form-control" name="date">

        <label for="name">Name:</label>
        <input type ="text" maxlength="50" class="form-control" name="name" placeholder= "Name of the expense">

        <label for="description">Description:</label>
        <textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the expense"></textarea>


        <label for="types">Type:</label>
        <select class="form-control" name="types">
          <option value="" selected disabled>Please select</option>
          {% for ledger_type in ledger_types %}
          <option name="types" value={{ ledger_type }}>{{ ledger_type }}</option>
          {% endfor %}
        </select>

        <label for="cost">Cost:</label>
        <div class="input-group">
          <div class="input-group-addon"> € </div>
          <input type ="number" step="0.01" class="form-control" maxlength="10" name="cost" placeholder="Price in €">
        </div>

        <div><br></div>

        <button type="submit" class="btn btn-default" id="submit" type="submit">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
